<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}BASE{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="icon" href="{{ asset('images/favicon.png') }}">
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
{% block nav %}
<nav class="navbar">
    <ul class="nav-list">
        <li><a href="{{ path('app_home') }}" class="btn-nav">Home</a></li>
        <li><a href="{{ path('workouts_index') }}" class="btn-nav">Workouts</a></li>
        <li><a href="{{ path('exercises_index') }}" class="btn-nav">Exercises</a></li>
        <li><a href="{{ path('types_index') }}" class="btn-nav">Types</a></li>
    </ul>
    <div class="login-icon">
        <a href="{{ path('user_show') }}" class="btn-nav">Account</a>

        {% if app.user is not empty %}
            <a href="{{ path('app_logout') }}" class="btn-nav">Logout</a>
        {% else %}
            <a href="{{ path('app_login') }}" class="btn-nav">Login</a>
        {% endif %}
    </div>
</nav>
{% endblock %}

{% block body %}
<div class="container">
    <div class="card">
        <div class="card-body">
            SOME TEXT
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
