{# /exercise_log/newSetWorkout.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Workout-Exercises{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        input[type=text], input[type=url], select {
            background-color: #2c2c2c;
            color: #e0e0e0;
            border: 1px solid #444444;
            border-radius: 5px;
            padding: 8px;
            width: 100%;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container">
        <h1 style="text-align: center;">Workout: {{ workout.name }}</h1>
        <h2 style="text-align: center;">Date: {{ workout.date|date('Y-m-d H:i:s') }}</h2>
        <p style="text-align: center;">Contains the following exercises:</p>
        <div class="card">
            {{ form_start(formExerciseLog) }}
            <div class="form-group" style="width: 100%;">
                {{ form_row(formExerciseLog.nrReps, {
                    label: 'Number of reps',
                    attr: {
                        style: 'background-color: #2c2c2c; color: #e0e0e0; border: 1px solid #444444; border-radius: 5px; padding: 8px; width: 100%;'
                    }
                }) }}
            </div>
            <div class="form-group" style="width: 100%;">
                {{ form_row(formExerciseLog.weight, {
                    label: 'Weight',
                    attr: {
                        style: 'background-color: #2c2c2c; color: #e0e0e0; border: 1px solid #444444; border-radius: 5px; padding: 8px; width: 100%;'
                    }
                }) }}
            </div>
            <div class="form-group" style="width: 100%;">
                {{ form_row(formExerciseLog.duration, {
                    label: 'Duration',
                    attr: {
                        style: 'background-color: #2c2c2c; color: #e0e0e0; border: 1px solid #444444; border-radius: 5px; padding: 8px; width: 100%;'
                    }
                }) }}
            </div>
            <div class="form-group">
                {{ form_row(formExerciseLog.exercise, {
                    label: 'Exercise',
                    attr: {
                        style: 'background-color: #2c2c2c; color: #e0e0e0; border: 1px solid #444444; border-radius: 5px; padding: 8px; width: 100%;'
                    }
                }) }}
            </div>
            {{ form_widget(formExerciseLog.Save, {'attr': {'class': 'btn btn-primary', 'style': 'width: 8%;'}}) }}
            {{ form_end(formExerciseLog) }}
        </div>
    </div>
{% endblock %}


