{# /exercise_log/showWorkout.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Workout-Exercises{% endblock %}

{% block body %}
    <div class="container">
        <h1 style="text-align: center;">Workout: {{ workout.name }}</h1>
        <h2 style="text-align: center;">Date: {{ workout.date|date('Y-m-d H:i:s') }}</h2>
        <p style="text-align: center;">Contains the following exercises:</p>

        <div class="card-container">
            {% for exerciseLog in exercisesLogs %}
                <div class="card horizontal-card">
                    <div class="card-body">
                        <div class="exercise-info">
                            <span class="exercise-box">{{ exerciseLog.exercise.name }}</span>
                            <span class="exercise-box">Nr. Reps: {{ exerciseLog.nrReps }}</span>
                            <span class="exercise-box">Weight: {{ exerciseLog.weight }} kg</span>
                            <span class="exercise-box">Volume: {{ exerciseLog.weight * exerciseLog.nrReps }}</span>
                        </div>
                        <form action="{{ path('deleteExerciseWorkout_exerciseLog', { 'exerciseLogId': exerciseLog.id }) }}" method="post" class="delete-form">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div style="text-align: center;">
            <a href="{{ path('newExerciseWorkout_exerciseLog', { 'workoutId': workoutId }) }}" class="btn btn-primary mt-4">Add New Exercise</a>
        </div>
        </div>
{% endblock %}
