{# templates/user/index.html.twig #}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Deleted User</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1 class="mt-5">Deleted User</h1>
    <table class="table table-bordered mt-3">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Password</th>
            <th>Birthday</th>
            <th>Gender</th>
            <th>Workouts</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.password }}</td>
            <td>{{ user.birthday ? user.birthday|date('Y-m-d H:i:s') : 'N/A' }}</td>
            <td>{{ user.gender is not null ? (user.gender == 1 ? 'Male' : 'Female') : 'N/A' }}</td>
            <td>
                <ul>
                    {% for workout in user.workouts %}
                        <li>{{ workout.name }}</li> {# Assuming Workout entity has a name property #}
                    {% endfor %}
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
