{# templates/user/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Users{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .container {
            background-color: #1e1e1e;
            padding: 20px;
            border-radius: 8px;
        }
        h1 {
            color: #ffffff;
            border-bottom: 2px solid #444444;
            padding-bottom: 10px;
        }
        table {
            background-color: #2c2c2c;
            color: #e0e0e0;
            border: none;
        }
        th {
            background-color: #333333;
            color: #ffffff;
            border: none;
        }
        td {
            background-color: #2c2c2c;
            color: #e0e0e0;
            border: none;
        }
        ul {
            padding-left: 20px;
        }
        li {
            color: #e0e0e0;
        }
        .table-bordered td, .table-bordered th {
            border: 1px solid #444444;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mt-5">Users</h1>
        <table class="table table-bordered mt-3">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Password</th>
                <th>Birthday</th>
                <th>Gender</th>
                <th>Workouts</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.password }}</td>
                    <td>{{ user.birthday ? user.birthday|date('Y-m-d H:i:s') : 'N/A' }}</td>
                    <td>{{ user.gender is not null ? (user.gender == 1 ? 'Male' : 'Female') : 'N/A' }}</td>
                    <td>
                        <ul>
                            {% for workout in user.workouts %}
                                <li>{{ workout.name }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
