{#/workout/edit.html.twig#}

{% extends 'base.html.twig' %}

{% block title %}Edit Workout{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        input[type=text], input[type=datetime-local], select {
            background-color: #2c2c2c;
            color: #e0e0e0;
            border: 1px solid #444444;
            border-radius: 5px;
            padding: 8px;
            width: 100%;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="card">
            <h1>Edit Workout</h1>
            {{ form_start(workoutForm) }}
            <div class="form-group">
                {{ form_row(workoutForm.name) }}
            </div>
            <div class="form-group">
                {{ form_row(workoutForm.date) }}
            </div>
            <div class="form-group">
                {{ form_row(workoutForm.type) }}
            </div>
            {{ form_widget(workoutForm.save, {'attr': {'class': 'btn btn-primary', 'style': 'width: 8%;'}}) }}
            {{ form_end(workoutForm) }}

            <br>

            {{ form_start(deleteWorkout) }}
            {{ form_widget(deleteWorkout.delete, {'attr': {'class': 'btn btn-danger', 'style': 'width: 8%;'}}) }}
            {{ form_end(deleteWorkout) }}
        </div>
    </div>
{% endblock %}
